body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #d7fae3;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .label-class{
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    background-image: url("greenPlane.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    justify-content: center;
	align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 450px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 350px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }

  button:disabled{
    background-color: gray;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #0b6623; /* green color */
  }
  
  button:enabled:hover {
    cursor: pointer;
    opacity: 0.8;
  }


  input[type="number"] {
    border: 1px solid black; /* Add a border */
    border-radius: 4px; /* Add border radius */
    align-items: start;
    width: 100px;
  }