<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flight List</title>
  </head>
  <body>
    <div>
    <div class="container" id="mydiv" #myDivRef>
    <div class="button-container">
      <button (click)="createFlight()">ADD</button>
      <button (click)="deleteFlight()">DELETE</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Taking Off</th>
          <th>Landing</th>
          <th>Price</th>
          <th>Seats</th>
          <th>Free seats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of Flights;let ind = index"  (click)="select(flight,ind)" 
        [ngClass] = "{'highlight' : ind == selectedIndex}">
        <td>{{ flight.takeoff_date.getDate() + "-" + flight.takeoff_date.toLocaleString('default', { month: 'short' }) + "-" +  flight.takeoff_date.getFullYear()}}</td>
        <td>{{ flight.takeoff_date.getHours() + " : " + flight.takeoff_date.getMinutes() }}</td>
        <td>{{ flight.takeoff_location }}</td>
        <td>{{ flight.landing_location }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.capacity }}</td>
        <td>{{ flight.available_seats }}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
  </body>
</html>
